<?xml version='1.0' encoding='utf-8'?>
<widget id="com.julia.apptodo" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>To Do List</name>
    <description>App Desenvolvido por Júlia Aparecida</description>
    <author email="julia.aparecida25@gmail.com" href="https://github.com/MoreiraJulia/">
        Apache Cordova Team
    </author>
    <icon src="res/icon.png" />
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
